{% extends 'base.html' %}

{% block header %}
  <h1 class="mb-0">New Transaction</h1>
{% endblock %}

{% block content %}
  <form action="/" method="POST">
    <div class="mb-5">
      <div class="mb-3">
        <label for="amount">Amount</label>
        <input type="number" name="amount" id="amount" min="0" step="0.01" placeholder="20.00" value="{{ request.form['amount'] }}" class="form-control">
      </div>
      <div class="mb-3">
        <select name="category" id="category" class="form-select">
          <option value="" disabled selected hidden>Select Category</option>
          {% for category in categories %}
            <option value="{{ category['id'] }}">{{ category['name'] }}</option>
          {% endfor %}
        </select>
      </div>
      <input type="submit" value="Add" class="btn btn-primary w-100">
    </div>
    <div class="text-center mb-4">
      <span class="h1">CHF {{ sum_month }}</span>
      <br>
      <span class="text-black-50">This Month</span>
    </div>
    <div class="text-center">
      <span class="h5">CHF {{ sum_today }}</span>
      <br>
      <span class="text-black-50">Today</span>
    </div>
  </form>
{% endblock %}